
body {
	font-family: 'Pontano Sans', sans-serif;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 50px;
	padding-left: 50px;
	}

div.background {
    width: 1000px;
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    background-color: #E3E3E3;
}

div.question {
    width: 1000px;
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    background-color: white;
}

div.answer {
    width: 1000px;
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    background-color: #F0F0F0;
}

div.nav {
    width: 1000px;
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    color: white;
    background-color: #4E4E4F;
}

.col-centered {
    float: none;
		margin: 0 auto;
    height: 40px;
    padding: 10px;
    border: 1px solid gray;
    border: 1px solid gray;
    background-color: white;
}

div.box_blue {
    width: 100px;
    height: 40px;
    padding: 10px;
    color: white;
    background-color: #277BD6;
}

div.box_red {
    width: 100px;
    height: 40px;
    padding: 10px;
    color: white;
    background-color: #F0513C;
}


div.box_nav {
    width: 100px;
    height: 40px;
    padding: 10px;
    color: white;
    background-color: #4E4E4F;
}

div.box_dark {
    width: 100px;
    height: 40px;
    padding: 10px;
    color: white;
    background-color: #E3E3E3;
}

div.box_light {
    width: 100px;
    height: 40px;
    padding: 10px;
    color: white;
    background-color: #F0F0F0;
}

div.box_yellow {
    width: 100px;
    height: 40px;
    padding: 10px;
    color: white;
    background-color: #FFC400;
}

#submit {
    background-color: #277BD6;
    color: white;
    font-family: 'Pontano Sans';
    font-size: 17px;
    cursor: pointer;
    border:none;
}

h4 { font-family: 'Pontano Sans', sans-serif; font-weight: bold; }

/* unvisited link */
a:link {
    color: #A6A4A4;
}

/* visited link */
a:visited {
    color: #A6A4A4;
}

/* mouse over link */
a:hover {
    color: #277BD6;
}

/* selected link */
a:active {
    color: #277BD6;
}
